body {
	color: #ccc;
	background-color: #333;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0 1rem;
	font-size: 1.5rem;

	h2 {
		color: rgb(94, 116, 217);
	}
}